//utilities
.font-500{
  font-weight: 500;
}
.py-160{
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.ms-60{
  margin-left: 60px;
}
.mb-1-3{
  margin-bottom: 1.3rem;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-26{
  margin-bottom: 26px;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mb-100{
  margin-bottom: 100px;
}
.mb-70{
  margin-bottom: 70px;
}
.container{
  padding: 0 !important;
}
.mr-lg-100{
  @media screen and (min-width: 1024px){
    margin-right: -100px !important;
  }
  
}
.mt-lg-70{
  @media screen and (min-width: 1024px){
    margin-top: -70px !important;
  }
}
.p-18{
  padding: 18px;
}
.mt-40{
  margin-top: 40px;
}
.pt-10{
  padding-top: 10px;
}
.mt-10{
  margin-top: -10px !important;
}
.mt-130{
  margin-top: -130px;
}
.mt-160{
  margin-top: -160px;
}
.pt-100{
  padding-top: 100px !important;
}
.pb-60{
  padding-bottom: 60px;
}
.mr-60{
  margin-right: -60px;
}
.mb-60{
  margin-bottom: -60px !important;
}
.mb-p60{
  margin-bottom: 60px !important;
}
.pb-lg-160{
  @media screen and (min-width: 1024px) {
    padding-bottom: 160px !important;
  }
}
.mb-17{
  margin-bottom: 17px !important;
}
.me-xl-100{
  @media screen and (min-width: 1200px){
    margin-right: 100px;
  }
}
.mb-90{
  margin-bottom: 90px;
}
.mt-9{
  margin-top: -9px;
}
.pt-70{
  padding-top: 70px;
}
.z-index-n1{
  z-index: -1 !important;
}
.mt-70{
  margin-top: 70px !important;
}
.mt-3-customized{
  margin-top: 3px !important;
}
.mb-8{
  margin-bottom: -8px !important;
}
.mt-6{
  margin-top: -6px;
}
.py-130{
  padding-top: 130px;
  padding-bottom: 130px;
}
.pb-130{
  padding-bottom: 130px;
}
.mt-30{
  margin-top: -30px !important;
}
.ml-30{
  margin-left: -30px !important;
}
.fs-17{
  font-size: 17px !important;
}
// utilities
@media screen and (max-width: 437px){
  #site-content #themebau-description .container .themebau-top-description .description-img .bottom-img {
    width: 100% !important;
  }
}

// dropdown styles
.main-dropdown-menu:not(.b-dropdown){
  transition: visibility .15s ease-in-out, opacity .15s ease-in-out;
  visibility: hidden;
  opacity: 0;
  top: 99%;
  left: 0;
  border: none !important;
  width: 240px;
  padding: 20px 0 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  margin-left: -10px !important;
  border-radius: 0 !important;
  .nav{
    height: 100%;
    align-items: flex-start;
    .nav-item{
      .nav-link{
        padding-right: 30px !important;
        padding-left: 30px !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
      }
      .side-dropdown-menu{
        border: none;
        transition: visibility .15s ease-in-out, opacity .15s ease-in-out;
        visibility: hidden;
        opacity: 0;
        width: 240px;
        left: 98%;
        padding: 20px 0 !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        border-radius: 0 !important;
      }
      .about-dropdown{
        top: -1.4rem;
      }
      .blog-dropdown{
        top: -1.25rem;
      }
      .p-1-dropdown{
        top: -1.17rem;
      }
    }
  }
}
.b-dropdown{
  transition: visibility .15s ease-in-out, opacity .15s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width: 130% !important;
  top: 99% !important;
  left: -15%;
  border: 0 !important;
  border-radius: 0 !important;
  .container{
    padding: 0;
    .navbar-nav{
      .nav-item{
        padding-top: 60px;
        padding-left: 30px;
        .drop-img-link{
          .drop-img{
            margin-bottom: 22px;
            transition: transform 0.7s cubic-bezier(0.2, 1, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.2, 1, 0.2, 1);
          }
        }
      }
      .nav-item:hover{
        .drop-img-link{
          .drop-img{
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}
//dropdown styles

// btn balls styles
.ball-btns{
  padding: 15px 40px;
  margin-left: 60px;
  @extend .font-500;
  font-size: 17px !important;
}
.the-ball-ball-btns{
  margin-left: 20px;
  background-color: $btn-ball-default-color;
  height: 6px;
  width: 6px;
  border-radius: 100%;
}
.ball-btns-animation{
  animation: ball-btns-animated .3s infinite alternate cubic-bezier(0.2, 1, 0.3, 0.92);
  @include ball-btns-animated
}
// btn balls styles

// navbar and replace navbar styles
#navbar{
  width: 100%;
  height: 0;
  display: flex;
  transform: translateY(0);
  transition: transform 1s cubic-bezier(.2, 1, .2, 1),height .5s cubic-bezier(.2, 1, .2, 1);
  z-index: 2;
  .container{
    .navbar{
      .main-nav-item{
        height: 5.65rem;
      }
      .nav-item {
        display: flex;
        .nav-link {
          padding: 6px 20px;
          @extend .font-500;
        }
        .nav-link:hover ~ .dropdown-menu{
          visibility: visible;
          opacity: 1; 
        }
        .dropdown-menu:hover{
          visibility: visible;
          opacity: 1;
        }
      }
      .purchase{
        @extend .ball-btns;
        .purchase-ball{
          @extend .the-ball-ball-btns;
        }
      }
      .purchase:hover{
        .purchase-ball {
          @extend .ball-btns-animation
        }
      }

    }
  }
}
.navbar-toggler-replace{
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  .navbar-toggler-line{
    width: 24px;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: flex;
    background: white;
  }
}
#replace-navbar{
  min-height: 90px;
  z-index: 3;
  display: none;
  transition: transform 1s cubic-bezier(.2, 1, .2, 1),height .5s cubic-bezier(.2, 1, .2, 1);
  .container{
    .navbar-brand{
      margin-right: 60px;
    }
    .navbar{
      min-height: 90px;
    }
    .navbar-toggler-replace{
      .navbar-toggler-line:last-child{
        width: 12px;
        align-self: end;
        transition: width .15s ease-in-out;
      }
    }
    .navbar-toggler-replace:hover{
      .navbar-toggler-line:last-child{
        width: 24px !important;
      }
    }
    .purchase-container{
      .purchase{
        @media screen and (max-width: 621px){
          padding: 0;
          background-color: $navbar-btn-background-color-max-620 !important;
          color: $navbar-btn-color-max-620;
          .purchase-ball{
            display: none !important;
          }
        }
        @extend .ball-btns;
        margin-right: 40px !important;
        margin-left: auto !important;
        .purchase-ball{
          @extend .the-ball-ball-btns;
        }
      }
      .purchase:hover{
        .purchase-ball {
          @extend .ball-btns-animation;
        }
      }
    }
  }
}
.navbar-hide{
  transform: translateY(-6rem) !important;
}
.navbar-scrolled{
  height: 5.65rem !important;
}
// navbar and replace navbar styles

// site main container
#site-content{
  position: relative;
  // header styles
  #header{
    .container{
      .scroll-ball{
        svg{
          transition: transform 1.3s cubic-bezier(.2, 1, .2, 1),-webkit-transform 1.3s cubic-bezier(.2, 1, .2, 1);
        }
      }
      .row *{
        z-index: 1;
      }
      .row{
        margin-left: 0;
        margin-right: 0;
        .col-12{
          margin-left: 0;
          margin-right: 0;
          h1{
            margin-top: -14px;
          }
          .description{
            font-size: 18.2px;
            line-height: 27px;
          }
        }
        .project-demo{
          padding: 80px 0 0 30px;
          .demo-card{
            .card-image{
              transition: transform .7s cubic-bezier(.2, 1, .2, 1),-webkit-transform .7s cubic-bezier(.2, 1, .2, 1);
              img{
                width: 100%;
                padding-top: 14px;
                border-radius: 5px 5px 0px 0px;
                border: solid 1px #202020;
                border-top: 0;
              }
            }
            .card-body{
              padding: 0;
              .card-title{
                display: block;
                margin-top: 28px;
                margin-bottom: 0px;
              }
            }
            .card-image::before{
              content: "";
              width: 100%;
              height: 14px;
              left: 0;
              background-color: $mac-navbar-style-background-color-project-demo-menu-style;
              position: absolute;
              top: 0;
              border-radius: 5px 5px 0px 0px;
            }
            .card-image::after{
              content: "";
              position: absolute;
              border-radius: 50%;
              top: 5.5px;
              left: 8px;
              height: 4px;
              width: 4px;
              color: $mac-navbar-style-btn-background-color-project-demo-menu-style;
              background-color: $mac-navbar-style-btn-background-color-project-demo-menu-style;
              box-shadow: 7px 0 0 currentColor,14px 0 0 currentColor;
            }
          }
          .demo-card:hover{
            .card-image{
              transform: translateY(-19px);
            }
          }
        }
      }
      .row:last-child{
        margin-left: -28px !important;
      }
    }
  }
  // header style

  // themebau description styles
  #themebau-description{
    .container{
      margin-top: -40px;
      .themebau-top-description{
        margin-left: -32px;
        margin-right: 0;
        .description-img{
          img{
            width: 100%;
            box-shadow: 0 2px 20px rgb(0 0 0 / 18%);
          }
          .bottom-img{
            width: 370px;
            align-self: end;
          }
        }
        .description-text{
          .description-text-title{
            text-align: start;
            @media screen and (min-width: 1024px){
              margin-left: -100px;
            }
          }
          .description-text-detail{
            @media (min-width: 1024px) {
              margin-top: -2px!important;
            }
            line-height: 27px;
            margin-bottom: 3.0588235294em;
            text-align: start;
            font-size: 19px;
          }
          .description-text-btn{
              a{
                @extend .ball-btns;
                margin-left: 0;
                .description-ball{
                  @extend .the-ball-ball-btns;
                  background-color: $themebau-description-btn-ball-color;
                }
            }
            a:hover{
              .description-ball{
                @extend .ball-btns-animation;
              }
            }
          }
        }
      }
      .themebau-bottom-description-model{
        margin-right: 0;
        margin-left: -31px;
        margin-top: -30px;
        .bau-description-layout{
          max-height: 100%;
          padding-top: 30px;
          padding-left: 30px;
          padding-right: 0;
          @media (max-width: 619.98px) {
            padding-top: 44px !important;
          }
          .demo-card{
            border-radius: 0;
            border-top-width: initial;
            border-top-style: none;
            border-top-color: initial;
            border-top-left-radius: 3%;
            border-top-right-radius: 3%;
            border-bottom: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
            border-left: 1px solid #e2e2e2;
            span{
              padding-top: 32px;
            }
            transition: transform .7s cubic-bezier(.2, 1, .2, 1),-webkit-transform .7s cubic-bezier(.2, 1, .2, 1);
            .card-image::before{
              content: "";
              width: 100.9%;
              left: -1px;
              height: 14px;
              border-right: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-top: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-left: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              background-color: $mac-navbar-style-background-color-description-models-about-us;
              position: absolute;
              top: -1px;
              border-radius: 3px 3px 0 0;
            }
            @media (max-width: 619.98px) {
              .card-image::before{
                content: "";
                width: 100.4%;
                left: -1px;
                height: 14px;
                border-right: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                border-top: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                border-left: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                background-color: #f1f1f1;
                position: absolute;
                top: 0px;
                border-radius: 5px 5px 0px 0px;
              }
            }
            @media (max-width: 384px) {
              .card-image::before{
                content: "";
                width: 100.6%;
                left: -1px;
                height: 14px;
                border-right: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                border-top: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                border-left: 1px solid $mac-navbar-style-border-color-description-models-about-us;
                background-color: $mac-navbar-style-background-color-description-models-about-us;
                position: absolute;
                top: 0px;
                border-radius: 5px 5px 0px 0px;
              }
            }
            .card-image::after{
              content: "";
              position: absolute;
              border-radius: 50%;
              top: 5.5px;
              left: 8px;
              height: 4px;
              width: 4px;
              color: $mac-navbar-style-btn-background-color-description-models-about-us;
              background-color: $mac-navbar-style-btn-background-color-description-models-about-us;
              box-shadow: 7px 0 0 currentColor,14px 0 0 currentColor;
            }
          }
          .b-navbar{
            margin: 2px;
          }
          .demo-card:hover{
            transform: translateY(-19px);
          }
        }
      }
    }
  }
  // themebau description styles

  // project showcase styles
  #project-showcase{
    .scroll-ball-project-case{
      z-index: 0;
      transition: transform 1.3s cubic-bezier(.2, 1, .2, 1),-webkit-transform 1.3s cubic-bezier(.2, 1, .2, 1);
    }
    .container *{
      z-index: 1;
    }
    .container{
      .slider-indicator-project-showcase{
        width: 370px;
        max-width: 100%;
        height: 2px;
        margin: 85px auto 0;
        border-radius: 0;
        background-color: $slider-indicatores-background-color;
        .indicator-line{
          background-color: $slider-indicatores-line-background-color;
          width: 125.7px;
          height: 100%;
        }
      }
    }
  }
  // project showcase style

  // about us styles
  #about-us{
    .container{
      .about-us-text{
        margin-right: 0;
        margin-left: -30px;
      }
      .project-demos{
        margin-right: 0;
        margin-top: -46px; 
        margin-left: -30px;
        .project-demo{
          padding-right: 0;
          padding-top: 60px;
          padding-left: 30px;		
          .demo-card{
            border: 0;
            display: flex;
            position: relative;
            .card-img{
              transition: transform .7s cubic-bezier(.2, 1, .2, 1),-webkit-transform .7s cubic-bezier(.2, 1, .2, 1);
              border: 1px solid rgba(0, 0, 0, 0.175);
              border-radius: 5px 5px 0 0 ;
              img{
                width: 100%;
                padding-top: 13px;
              }
            }
            .card-body{
              padding: 0;
              .card-title{
                font-weight: 500;
                font-size: 1.3rem;
                display: block;
                margin-top: 28px;
                margin-bottom: -7px;
              }
            }
            .card-img::before{
              content: "";
              width: 100%;
              left: 0px;
              height: 14px;
              border-right: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-top: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-left: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              background-color: $mac-navbar-style-background-color-description-models-about-us;
              position: absolute;
              top: 0;
              border-radius: 5px 5px 0px 0px;
            }
            .card-img::after{
              content: "";
              position: absolute;
              border-radius: 50%;
              top: 5.5px;
              left: 8px;
              height: 4px;
              width: 4px;
              color: $mac-navbar-style-btn-background-color-description-models-about-us;
              background-color: $mac-navbar-style-btn-background-color-description-models-about-us;
              box-shadow: 7px 0 0 currentColor,14px 0 0 currentColor;
            }
          }
          .demo-card:hover{
            .card-img{
              transform: translateY(-19px);
            }
            .card-img::before{
              content: "";
              width: 101%;
              left: -1px;
              height: 14px;
              border-right: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-top: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              border-left: 1px solid $mac-navbar-style-border-color-description-models-about-us;
              background-color: $mac-navbar-style-background-color-description-models-about-us;
              position: absolute;
              top: 0;
              border-radius: 5px 5px 0px 0px;
            }
          }
        }
      }
    }
  }
  // about us styles

  // menu style styles
  #menu-style{
    .container{
      .row{
        .slider{
          .slider-body{
            .slider-img{
              width: 300px;
              .demo-card{
                border: 0;
                width: 300px;
                display: flex;
                position: relative;
                .card-img{
                  transition: transform .7s cubic-bezier(.2, 1, .2, 1),-webkit-transform .7s cubic-bezier(.2, 1, .2, 1);
                  border: 1px solid rgba(0, 0, 0, 0.175);
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                  img{
                    width: 100%;
                  }
                }
                .card-body{
                  padding: 0;
                  .card-title{
                    font-weight: 500;
                    font-size: 1.5rem;
                    display: block;
                    margin-top: 28px;
                    margin-bottom: 0px;
                  }
                }
                .card-img::before{
                  content: "";
                  width: 99.8%;
                  left: 0px;
                  height: 14px;
                  border-right: 1px solid rgba(0, 0, 0, 0.175);
                  border-top: 1px solid rgba(0, 0, 0, 0.175);
                  border-left: 1px solid rgba(0, 0, 0, 0.175);
                  background-color: $mac-navbar-style-background-color-project-demo-menu-style;
                  position: absolute;
                  top: -13px;
                  border-radius: 5px 5px 0px 0px;
                }
                .card-img::after{
                  content: "";
                  position: absolute;
                  border-radius: 50%;
                  top: -8px;
                  left: 8px;
                  height: 4px;
                  width: 4px;
                  color: $mac-navbar-style-btn-background-color-project-demo-menu-style;
                  background-color: $mac-navbar-style-btn-background-color-project-demo-menu-style;
                  box-shadow: 7px 0 0 currentColor,14px 0 0 currentColor;
                }
              }
              .demo-card:hover{
                .card-img{
                  transform: translateY(-19px);
                }
              }
            }
          }
        }
      }
      .slider-indicator-menu-style{
        width: 370px;
        max-width: 100%;
        height: 2px;
        margin: 85px auto 0;
        border-radius: 0;
        background-color: $slider-indicatores-background-color;
        .indicator-line{
          background-color: $slider-indicatores-line-background-color;
          width: 275.349px;
          height: 100%;
        }
      }
    }
  }
  // menu style styles

  // responsive description styles
  #responsive-description{
    .container{
      .row{
        @media screen and (max-width: 1024px){
          margin-top: -5px;
        }
        .responsive-description-text{
          .responsive-description-title{
            margin-bottom: 1.75rem;
            font-size: 36px !important;
          }
          .responsive-description-detail{
            .detail{
              text-align: start;
              line-height: 26px;
              margin-bottom: 12px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  // responsive description styles

  // themebau features styles
  #themebau-features{
    .container{
      .row{
        margin-top: -60px !important;
        margin-left: -30px !important;
        .col-lg-4{
          padding-top: 60px;
          .feature{
            position: relative;
            .feature-icon{
              display: flex;
              justify-content: center;
              height: 70px;
              align-items: center;
              margin-right: 30px;
              svg:nth-child(2){
                position: absolute;
              }
            }
            .feature-description{
              text-align: start;
              .feature-description-title{
                font-weight: 500;
                margin-bottom: 14px;
                font-size: 1.5rem;
              }
              .feature-description-detail{
                color: $feature-description-detail-color;
                font-weight: 400;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
  // themebau features syules

  // themebau varity styles
  #themebau-varity{
    line-height: 27px;
    .scroll-ball-varity{
      z-index: 0;
      transition: transform 1.3s cubic-bezier(0.2, 1, 0.2, 1), -webkit-transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    }
    .container{
      .row{
        margin-right: 0 !important;
        .themebau-varity-col *{
          transform: translate(0, 0);
          font-size: 16px;
        }
        .themebau-varity-col{
          padding-left: 30px;
          padding-top: 20px;
          .themebau-varity-item{
            margin-top: 25px !important;
            margin-left: -20px;
            .varity-icon{
              padding: 0;
              padding-left: 20px !important;
            }
            .varity-text{
              padding: 0;
              padding-left: 20px !important;
              color: $varity-item-text-color;
              h6{
                line-height: 27px;
              }
            }
          }
        }
      }
      .bau-varity-footer{
        font-weight: 500;
        font-size: 18px;
        margin-left: 0;
      }
    }
  }
  // themebau varity styles
}
// site main container

//footer styles
footer{
  .container{
    .row{
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      .nav-link-footer{
        flex-grow: 1;
        padding: 0;
        padding-top: 30px !important;
        margin-right: 9px;
        height: 100%;
        .float-img-link{
          padding-top: 30px !important;
          display: flex;
          .float-img{
            transition: transform .2s ease-out, -webkit-transform .2s ease-out, opacity .3s ease-in-out;
            margin-left: -115px;
            margin-top: -130px;
          }
          .footer-link{
            padding-top: 50px;
            padding-bottom: 50px;
            margin: 0;
            flex-grow: 1;
            @media screen  and (min-width: 1200px){
              padding-left: 100px;
              padding-right: 100px;
            }
            u{
              span{
                border-bottom: 1px solid currentColor;
              }
            }
          }
        }
      }
      .arrow-icon{
        padding: 0;
        padding-top: 30px;
        a{
          padding: 0;
          svg{
            margin-left: 17px;
            overflow: inherit;
          }
          border: none !important;
          path{
            transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
          }
          path:first-child{
            transform: translateX(-15px);
          }
          path:last-child{
            transform: translateX(-16px);
          }
        }
        a:hover{
          border: none;
          svg{
            path:first-child{
              transform: translateX(2px);
            }
            path:last-child{
              transform: scaleX(1.3) translateX(-16px);
            }
          }
        }
      }
    }
  }
}
// footer styles

// fullscreen navbar styles
.full-screen-navbar{
  transition: opacity .15s ease-in-out;
  z-index: 100;
  .navbar-head{
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    min-height: 90px;
    .container{
      padding: 0;
      .navbar-brand{
        padding-top: .4rem;
      }
      .navbar-toggler-replace{
          margin-right: -8px;
          .navbar-toggler-line{
            transition: transform .2s ease-in-out,opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
          }
      }
    }
  }
  .container1{
    margin-bottom: 50px;
    .row{
      [class*="col"]{
        padding-left: 30px;
        padding-right: 0;
      }
      .navbar-body{
        margin-top: -6px;
        .navbar-nav{
          .nav-item{
            .nav-link{
              display: flex;
              padding: 3px 0;
              width: 100%;
              .link-text{
                font-size: 70px;
                @media screen and (max-width: 828px){
                  font-size: 34px !important;
                }
                font-weight: 500;
              }
            }
            .collapse{
              ul{
                padding: 5px 0;
                line-height: 2;
                .fas{
                  transition: transform .15s ease-in-out;
                }
              }
            }
          }
        }
      }
      .col-12.col-md-4.col-lg-4.col-xl-3.pt-0.text-white{
        padding-left: 10px !important;
        @media screen and (min-width: 828px){
          padding-left: 30px !important;
        }
      }
      .navbar-replace-footer{
        @media screen and (min-width: 828px){
          margin-top: 33px !important;
        }
      }
    }
  }
  .navbar-social{
    .nav-item{
      .nav-link{
        max-width: 100%;
        height: 35px;
        padding: 0 9px;
      }
    }
  }
}
.list-group * {
  font-weight: 400;
}
// fullscreen navbar styles

// slider responsivation
@media screen and (max-width: 1024px){
  .slider-indicator-project-showcase{
    .indicator-line{
      width: 93.8028px !important;
    }
  }
  .slider-indicator-menu-style{
    .indicator-line{
      width: 274.639px !important;
    }
  }
  #menu-style{
    .slider-img{
      width: 220px !important;
      .demo-card{
        width: 220px Im !important;
      }
    }
  }
}
@media screen and (max-width: 828px){
  .slider-indicator-project-showcase{
    .indicator-line{
      width: 70.3521px !important;
    }
  }
  .slider-indicator-menu-style{
    .indicator-line{
      width: 181.224px !important;
    }
  }
  #menu-style{
    .slider-img{
      width: 345px !important;
      .demo-card{
        width: 345px !important;
      }
    }
  }
}
@media screen and (max-width: 800){
  .slider-indicator-menu-style{
    .indicator-line{
      width: 180.224px !important;
    }
  }
}
@media screen and (max-width: 620px){
  .slider-indicator-project-showcase{
    .indicator-line{
      width: 55.6546px !important;
    }
  }
  #menu-style{
    .slider-img{
      width: 255px !important;
      .demo-card{
        width: 255px !important;
      }
    }
  }
}
@media screen and (max-width: 520px){
  .slider-indicator-project-showcase{
    .indicator-line{
      width: 53.5709px !important;
    }
  }
  .slider-indicator-menu-style{
    .indicator-line{
      width: 17vw !important;
    }
  }
  #menu-style{
    .slider-img{
      width: 205px !important;
      .demo-card{
        width: 205px !important;
      }
    }
  }
}
// slider responsivation

