$btn-ball-default-color: #0e0e0e;
$navbar-btn-background-color-max-620: transparent;
$navbar-btn-color-max-620: white;
$mac-navbar-style-background-color-project-demo-menu-style: #202020;
$mac-navbar-style-btn-background-color-project-demo-menu-style: #3e3e3e;
$themebau-description-btn-ball-color: white;
$mac-navbar-style-background-color-description-models-about-us: #f1f1f1;
$mac-navbar-style-border-color-description-models-about-us: #e2e2e2;
$mac-navbar-style-btn-background-color-description-models-about-us: #cecece;
$slider-indicatores-background-color: rgba(255,255,255,.1);
$slider-indicatores-line-background-color: #ffffff;
$feature-description-detail-color: #444444;
$variety-item-text-color: white;
$dropdown-background: #0e0e0e;
$bg-section-header-projectshowcase-menustyle-variety: #0e0e0e;
$bg-description-aboutus-feature: white;
$bg-fully-responsive: #f5f5f5;
$default-text-colors-white: white;
$default-text-colors-black: black;
$default-text-detail-colors: #212529;